.main{
    border-left: 2px solid var(--border-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2{
        padding: 15px;
    }

    div div {
        border-bottom: 1px solid var(--border-color);
        padding: 15px;
        p{
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

.div-button{
    padding: 15px;
}